@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');
@import 'tailwindcss';

@theme {
  --font-mulish: 'Mulish', serif;
  --color-black: #232227;
  --color-primary: #fde3c7;
  --color-secondary: #c9bffe;
  --color-danger: #f3c4cd;
  --color-success: #d4fada;
}